version: 2

jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/hoverfly-java
    steps:
      - checkout
      - restore_cache:
          key: hoverfly-java-gradle-cache-
      - run:
          name: Run Tests
          command: |
            ./gradlew clean test jacocoTestReport
            bash <(curl -s https://codecov.io/bash)
      - store_artifacts:
          path: build/reports
          destination: reports
      - save_cache:
          paths:
            - ~/.gradle
            - ~/.m2
          key: hoverfly-java-gradle-cache-{{ checksum "build.gradle" }}
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - hoverfly-java/

  deploy:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/hoverfly-java
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Download deployment dependencies
          command: |
             git config core.filemode false
             echo 'use-agent' >> ~/.gnupg/gpg.conf
             echo 'pinentry-mode loopback' >> ~/.gnupg/gpg.conf
             echo 'allow-loopback-pinentry' >> ~/.gnupg/gpg-agent.conf
             echo RELOADAGENT | gpg-connect-agent
             chmod +x maven-release.sh
             ./maven-release.sh

workflows:
  version: 2
  build:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
